pipeline {
    agent any

    stages {
        stage('Validate') {
            steps {
                sh 'test -f pom.xml'
                sh 'test -f src/main/java/com/example/{{ package_name }}/Application.java'
            }
        }

        stage('Package Metadata') {
            steps {
                echo 'Forge Java Spring service scaffold validated: {{ project_slug }}'
            }
        }
    }
}
